@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

@layer base {
    * {
        border-color: var(--border);
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-family: "DM Sans", sans-serif;

        /* --- Ocultar scroll --- */
        scrollbar-width: none;     /* Firefox */
        overflow-y: scroll;        /* Importante para que siga funcionando el scroll */
    }

    /* Chrome, Safari, Edge */
    body::-webkit-scrollbar {
        display: none;
    }

}

:root {
    --verde: #E892AD;
    --blanco: #FAF7D2;
    --negro: #2E1F08;
    --gris: #C7BC5D;
    --gtafito: #8F6627;
    scrollbar-width: none;     /* Firefox */
    overflow-y: scroll;
    width: 100% !important;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--blanco);
    background: var(--negro) ;
}

.iconos {
    stroke: var(--blanco);       /* usar stroke en vez de color */
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    transition: stroke 0.3s ease, transform 0.3s ease;
    stroke-width: 2.3;
}

.iconos:hover {
    stroke: var(--gris);         /* cambia el color al hacer hover */
    transform: scale(1.05);       /* agranda un 10% */
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;     /* Firefox */
}